:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#resultImg1, #resultImg{
width: 256 !important;
height: 256 !important;
}

#resultBox {
  border: 2px solid grey;
  width: 80%;
  margin: 5% auto;
}

#letterTitle {
  background: #cfe7fa;
  background: linear-gradient(to right, #cfe7fa 0%, #6393c1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

@media screen and (max-width: 512px) {
  .webcam_placeholder, .webcam {
    width: 100%
  }
}
@media screen and (min-width: 513px) {
  .webcam_placeholder, .webcam {
    width: 512px
  }
}